<section class="header">
    <article>
        <p>Logo</p>
        <button><i class="fa-solid fa-bars"></i></button>
    </article>
    <article>
        <input placeholder="Buscador">
    </article>
    <article class="registro">
        <a>Registrate</a>
        <a>Ingresa</a>
        <p>foto</p>
        <p>nombre</p>
    </article>
</section>


<!-- <section class="header">
    <div class="logo">
        <p>Logo</p>
        <button><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="search">
        <input placeholder="Buscador">
    </div>
    <div class="registration">
        <a>Registrate</a>
        <a>Ingresa</a>
        <p>foto</p>
        <p>nombre</p>
    </div>
</section> -->
